body {
  background-color: rgb(245, 245, 242);
}
/* Estilos generales del main content de la pagina (cards) */
.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  #searchInput {
    width: 500px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5p;
  }
  
  #searchButton {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #containerProductos {
    width: 80%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
  
  
  .card {
    width: 300px;
    margin: 10px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
  }
  
  .carrito {
    width: 50px;
    display: flex;
    justify-content:center;
  }

  .boton-agregar-carrito {
        color: rgb(85, 151, 30);
        font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  
 /* .img {

 }
   */
   /* Agregar estilos Carrito de compras - modal1 */
